<div class="container" *ngIf="listFormations">
  <div class="panel panel-primary">
    <div class="panel-heading">Liste des étudiants</div>
    <div class="panel-body">
      <span *ngFor="let f of listFormations._embedded.formations">
        <button (click)="onGetEtudiants(f)"
         [ngClass]="f.id == currentFormation.id ? 'btn btn-danger' : 'btn btn-primary'">{{f.nom}}</button>
      </span>
      <p></p>
      <table class="table" *ngIf="listEtudiants">
        <tr>
          <th>LastName</th><th>FirstName</th><th>Email</th><th>Date birthday</th>
        </tr>
        <tr *ngFor="let e of listEtudiants._embedded.etudiants">
          <td>{{e.lastName}}</td>
          <td>{{e.firstName}}</td>
          <td>{{e.email}}</td>
          <td>{{e.dateNaissance}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
